.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h1 {
  text-align: center;
}
h3 {
  background-color: rgb(74, 86, 141);
  color: rgb(255, 255, 255);
  padding: 5px;
}

.text-field {
  /* width: 220px; */
}

.left-div {
  background-color: white;
  /* padding: 20px !important; */
  /* border: 1px solid black;
  border-radius: 5px; */
}
.right-div {
  background-color: white;
  /* padding: 20px !important; */
  /* border: 1px solid black;
  border-radius: 5px; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
